.time-body {
    width: 100%;
}

.notAvailable {
    color: rgb(186, 46, 46);
    font-weight: bold !important;
    background-color: rgba(218, 201, 145, 0.9);
}

.isAvailable {
    color: black !important;
    font-weight: bold !important;
    background-color: rgba(255, 241, 194, 0.9);
}

.isAvailable,
.notAvailable {
    display: flex;
    align-items: center !important;
    border-radius: 10px;
    border: 2px solid #5a3204;
    margin-bottom: 10px;
    margin-top: 10px;
}

.disabled {
    background-color: rgb(183, 174, 128) !important;
}

.react-calendar__tile--active {
    background-color: rgb(234, 142, 13) !important;
}

.booking-div {
    background-image: url("../backgrounds/Time-booking.png") !important;
}

@media screen and (min-width: 900px) {
    .booking-div {
        margin-left: 100px;
        margin-right: 100px;
    }
}

.calendar {
    margin-right: 60px;
    background-color: rgba(255, 241, 194, 0.9) !important;
}

.service-name-text {
    padding: 20px;
    background-color: rgba(212, 255, 194, 0.8) !important;
    font-weight: bold !important;
}

.service-name{
    margin-top: 30px !important;
}

.row-section {
    margin: 20px;
}

.section-row{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding-top: 50px !important;
}

.timeBooking-btn {
    background: linear-gradient(to right, #839d83, #BCD1B3);
    color: black !important;
    font-weight: bold !important;
    border-radius: 8px !important;
    border: 2px solid #5a3204 !important;
}

.employee-item{
    display: inline-block;
    background-color: rgba(255,
        241,
        194, 0.97) !important;
    border-radius: 7px;
    font-size: 16px;
    padding: 10px;
}

.information-part{
    background-color: antiquewhite;
    margin: 24px;
    padding: 20px;
}

.information-body{
    background-color: #98cb98;
}

.modal-footer{
    background-color: #577C57 !important;
}

.submit-btn{
    background: linear-gradient(to right, #839d83, #BCD1B3);
    border: none !important;
    color: black !important;
    font-weight:600 !important;
}

.close-btn{
    background: linear-gradient(to right, #778d77, #8c9c86);
    color: black !important;
    font-weight: 600 !important;
}