.time-body {
    width: 100%;
    
}

.notAvailable {
    color: rgb(186, 46, 46);
    font-weight: bold !important;
    background-color: rgba(218, 201, 145, 0.9);
}

.isAvailable {
    color: black !important;
    font-weight: bold !important;
    background-color: rgba(255, 241, 194, 0.9);
}

.isAvailable, .notAvailable{
    display:flex;
    align-items: center !important;
    border-radius: 10px;
    border: 2px solid #5a3204;
    margin-bottom: 10px;
    margin-top: 10px;
}

.disabled, .react-calendar__navigation__prev-button, .react-calendar__navigation__prev2-button{
    background-color: rgb(183, 174, 128) !important;
}

.react-calendar__tile--active{
    background-color: rgb(234, 142, 13) !important;
}

.time-table {
    display: flex;
    align-items: center !important;
    margin-top: 100px;
}

.booking-div{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    align-items: center !important;
    background-image: url("../backgrounds/Time-booking.png") !important;
}

.calendar{
    margin-right: 60px;
    background-color: rgba(255, 241, 194, 0.9) !important;
}

.service-name{
    padding: 20px;
    background-color: rgba(255, 241, 194, 0.9) !important;
    font-weight: bold !important;
    border-radius: 8px !important;
}

.row-section{
    margin: 20px;
}



.timeBooking-btn{
    background: linear-gradient(to right, #839d83, #BCD1B3);
    color: black !important;
    font-weight: bold !important;
    border-radius: 8px !important;
    border: 2px solid #5a3204 !important;
}

