
.formCard{
  max-width: 750px !important;
  /*background-size: cover;
  background-attachment: fixed;*/
  display: flex;
  flex-direction: column;
  align-items: center !important;
  border-radius: 10px;
  border: 2px solid #5a3204;
}

.formCard-admin {
  background-image: url("../backgrounds/RegisterForm1.jpg");
}

.formCard-user {
  background-image: url("../backgrounds/RegisterForm2.jpg");
}

.form{
  border:none;
  box-shadow: none;
  background: none;
}

#formPhoneNumber, #formName, #formPassword, #formRepeatPassword, #formEmail{
  width: 400px;
  margin-bottom: 30px;
  padding-right: 0px !important;
  margin-left: 0px !important;
  border-radius: 10px;
  border: 2px solid #5a3204;
}

.btnRow{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.register-btn{
  background: linear-gradient(to right, #839d83, #BCD1B3);
  color: black !important;
  font-weight: bolder !important;
  border-radius: 8px !important;
  border: 2px solid #5a3204 !important;
}

.register-title{
  margin-bottom: 80px !important;
}