.service-container {
    background-image: url("/src/components/Images/ren-ran-bBiuSdck8tU-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.custom.card {
    margin: 1rem;
}
  
.custom .custom.card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 250px;
    width: 350px;
    position: relative;
    background-color: rgba(17, 84, 0, 0.659);
    color: white;
}
  
.custom.card .card-body .card-text {
    margin-bottom: auto;
}
  
.custom.card .btn-primary {
    background-color:rgb(66, 63, 63);
    border-color: rgb(66, 63, 63);
    position: absolute;
    bottom: 15px;
    right: 15px;
    transition: background-color 0.3s ease;
}

.custom.card .btn-primary:hover {
    background-color: rgb(50, 46, 46);
}
  
.custom-card-columns {
    column-gap: 2rem;
    margin-bottom: 3rem;
}

.employee-text {
    color: rgb(50, 46, 46);
    font-style:italic;
}

.card-text {
    max-height: 100px;
    overflow-y: auto;
    margin: 10px;
}

.card-serviceName, .custom.card .card-body .card-text.price , .custom.card .card-body .card-text.duration {
    color: rgb(50, 46, 46);
    font-weight: bold;
}

.custom.card .card-img {
    max-width: 300px;
}