.Haircut-and-Styling{
    background-image: url("../Images/Hair.jpg");
    height: 250px;
    width: 300px;
    background-size: cover;
    background-position: "center";
}

.Beard-grooming{
    background-image: url("../Images/Beard.jpg");
    height: 250px;
    width: 300px;
    background-size: cover;
    background-position: "center";
}

.Makeup {
    background-image: url("../Images/Makeup.jpg");
    height: 250px;
    width: 300px;
    background-size: cover;
    background-position: "center";
}

.Tanning-services{
    background-image: url("../Images/Tanning.jpg");
    height: 250px;
    width: 300px;
    background-size: cover;
    background-position: "center";
}

.Manicures-and-pedicures {
    background-image: url("../Images/Nails.jpg");
    height: 250px;
    width: 300px;
    background-size: cover;
    background-position: "center";
}

.Waxing-and-hair-removal{
    background-image: url("../Images/Wax.jpg");
    height: 250px;
    width: 300px;
    background-size: cover;
    background-position: "center";
}

.Massage-therapy {
    background-image: url("../Images/Massage.jpg");
    height: 250px;
    width: 300px;
    background-size: cover;
    background-position: "center";
}

.Skincare-services {
    background-image: url("../Images/Skin.jpg");
    height: 250px;
    width: 300px;
    background-size: cover;
    background-position: "center";
}

.custom.card {
    margin: 1rem;
    max-width: 700px;
}
  
.custom .custom.card .card-body {
    max-width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    background-color: rgba(17, 84, 0, 0.659);
    color: white;
}
  
.custom.card .card-body .card-text {
    margin-bottom: auto;
}
  
.custom.card .btn-primary {
    background-color:rgb(66, 63, 63);
    border-color: rgb(66, 63, 63);
    position: absolute;
    bottom: 15px;
    right: 15px;
    transition: background-color 0.3s ease;
}

.custom.card .btn-primary:hover {
    background-color: rgb(50, 46, 46);
}
  
.custom-card-columns {
    column-gap: 2rem;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.employee-text {
    color: rgb(50, 46, 46);
    font-style:italic;
}

.card-text {
    max-height: 100px;
    overflow-y: auto;
    margin: 10px;
}

.card-serviceName, .custom.card .card-body .card-text.price , .custom.card .card-body .card-text.duration {
    color: rgb(50, 46, 46);
    font-weight: bold;
}