.container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: rgb(65, 65, 65);
    background-image: url("/src/components/Images/lina-verovaya-N4njM45mXFM-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;

}
  
.container-fluid .card {
    width: 95%;
    padding: 20px;
    background-color: rgba(201, 203, 201, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
  
.user-details {
    display: flex;
    margin: 30px;
    text-align: center;
    font-weight: bold;
}

.card-subtitle {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.email-input[type="email"],
.phoneNumber-input[type="text"] {
  width: 300px;
}

.welcome-text {
    text-align: center;
    margin: 2rem 0;
}

.user-details td {
    vertical-align: middle;
}

.bookings {
    text-align: center;
    margin: 30px;
}

.card .coupon-card{
  background-color: rgb(255, 255, 255);
  color: rgb(59, 59, 59);
  margin-top: 50px;
}

.card .coupon-card .coupon{
  margin-top: 30px;
  color: red;
}

@media (max-width: 991px) {
    .container-fluid {
      padding: 50px;
    }
    
    .container-fluid .card {
      width: 80%;
    }
  
    .email-input[type="email"],
    .phoneNumber-input[type="text"] {
      width: 200px;
    }
}
  
@media (max-width: 767px) {
    .container-fluid {
      padding: 25px;
    }
    
    .container-fluid .card {
      width: 100%;
    }
  
    .email-input[type="email"],
    .phoneNumber-input[type="text"] {
      width: 150px;
    }
  
    .user-details {
      flex-wrap: wrap;
      justify-content: center;
    }
}
