
.main-page {
    background-image: url('/src/components/Images/sour-moha-k47viB7Dt8I-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.frame {
  width: cover;
  height: 300px;
  border: 2px solid white;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 30px;
}

.frame p {
  margin: 15px;
  color: rgba(255, 255, 255, 0.867);
  font-size: 19px;
  font-style: italic;
}

.frame .welcome-text {
  margin: 15px;
  color: rgba(255, 255, 255, 0.867);
  font-size: 28px; 
  font-style: italic;
}

.carousel {
  margin: 100px auto;
  width: 800px;
  height: 600px;
}

@media (max-width: 860px) {
  .frame {
    font-size: 14px;
    height: 400px;
  }
  .carousel {
    max-width: 95%;
    max-height: 100%;
    margin: 50px auto;
  }
}

@media (max-width: 650px) {
  .frame {
    font-size: 12px;
    height: 450px;
  }
  .carousel {
    max-width: 95%;
    max-height: 70%;
    margin: 50px auto;
  }
}